.button-group {
  margin:20px;
  padding: 20px;
}

.button-group .button {
  
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type="radio"],input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type="file"] {
    display: block
}

input[type="range"] {
    display: block;
    width: 100%
}

select[multiple],select[size] {
    height: auto
}

output {
  display: block;
  padding-top: 2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  color: #454545
}

.form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 2rem;
  height: auto;
  background: none;
  -webkit-appearance: none;
}

.form-groups {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden
}

.form-group {
  margin: 0;
  position: relative
}

.form-group+.form-group {
    border-top: 1px solid #ccc
}

.form-group:nth-of-type(2n) {
    background: #f9f9f9
}

.form-group.text {
  padding: 2rem 2rem 1rem 2rem
}

.form-control {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  color: #454545;
  background-color: #fff;
  background-image: none;
  border: 1px solid #555;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.form-control:focus {
    border-color: #fe2360;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 35, 96, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 35, 96, 0.6)
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::-webkit-input-placeholder {
    color: #777
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #d9d9d9;
    opacity: 1
}

textarea.form-control {
    height: auto
}

input[type="search"] {
    -webkit-appearance: none
}

input[type="date"],input[type="time"],input[type="datetime-local"],input[type="month"] {
    line-height: 4rem;
    line-height: 1.42857143 \0
}

input[type="date"].input-sm,input[type="time"].input-sm,input[type="datetime-local"].input-sm,input[type="month"].input-sm {
    line-height: 3rem
}

input[type="date"].input-lg,input[type="time"].input-lg,input[type="datetime-local"].input-lg,input[type="month"].input-lg {
    line-height: 4rem
}

.form-group {
    margin-bottom: 15px
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

.error small.error {
  display: block;
  font-size: 0.66667rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.88889rem;
  margin-top: -1px;
  padding: 0.33333rem 0.5rem 0.5rem;
  background: #f04124;
  color: #FFFFFF;
}
