@import "../../node_modules/foundation-sites/scss/foundation";
@import "../../node_modules/motion-ui/src/motion-ui";
@import './animate.scss';
@import "../../node_modules/animatewithsass/animate.scss";

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;
@include motion-ui-transitions;
@include motion-ui-animations;

$primary-color: #0cd6b4;
$off-white: #E9EAEC;
$light-grey: #a1a1a1;

.section-header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-family: 'Raleway';
  letter-spacing: 1px;
  padding: 40px;
  padding-top: 100px;
}

.section-sub-title {
  color: $light-grey;
  font-size: 18px;
  font-style: italic;
}

.dark-grey {
  color: #454545;
}

.text-medium {
  font-size: 1.4rem;
  line-height: 1.42857143;
}

span.divider {
  background-color: $primary-color;
  width: 150px;
  height: 3px;
  display: block;
  margin: 35px 0;
  margin-right: auto;
  margin-left: auto;
}

.section__off-white {
  background: $off-white;
}

.wobble-button {
  @include wobble();
}

.gradient-green {
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));
}
