@import "../../node_modules/foundation-sites/scss/foundation";
@import "./settings.scss";
@import "../../node_modules/motion-ui/src/motion-ui";
@import './animate.scss';
@import "../../node_modules/animatewithsass/animate.scss";

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;
@include motion-ui-transitions;
@include motion-ui-animations;

$golden: #ECD018;
$primary-color: rgba(0, 216, 255, .9);
$off-white: #E9EAEC;
$light-grey: #a1a1a1;
$global-radius: 4px;

body {
  font-family: Lato,sans-serif;
  font-size: 16px;
  line-height: 25px;
  overflow-x: hidden;
}

.centered {
  text-align: center;
}

.section-header__no-padding {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-family: 'Raleway';
  letter-spacing: 1px;
}

.section-header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-family: 'Raleway';
  letter-spacing: 1px;
  padding: 40px;
}

section {
  padding: 140px 0;
}

.section-sub-title {
  color: $light-grey;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.dark-grey {
  color: #454545;
}

.text-medium {
  font-size: 1.4rem;
  line-height: 1.42857143;
}

span.divider {
  background-color: $primary-color;
  width: 150px;
  height: 3px;
  display: block;
  margin: 35px 0;
  margin-right: auto;
  margin-left: auto;
}

.section__off-white {
  background: $off-white;
}

.wobble-button {
  @include wobble();
}

.gradient-green {
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5), rgba(0, 255, 127,.5));
}

.gradient-purple {
  background-image: linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
}

.gradient-blue {
  background: linear-gradient(to bottom, #FFE1FF 0%, #C9DAF8 100%);
}
.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.top-bar {
  border-bottom: 1px solid grey;
}

.menu a {
  text-transform: uppercase;
  font-family: 'Lato';
  color: $primary-color;
  .active {
    border-bottom: 2px solid $golden;
  }
}

/* Backwards compatible */
.button__golden {
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
  text-transform: uppercase;
  font-family: 'Lato';
}

.button__primary {
  background-color: $primary-color !important;
  text-transform: uppercase;
  font-family: 'Lato';
}

.section .section-wrapper>.section-content {
  padding: 80px 0
}

@media (min-width: 768px) {
  .section .section-wrapper>.section-content {
    padding:100px 0
  }
}

.section .section-title {
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 1px
}

.section .section-subtitle {
  color: #a1a1a1;
  font-size: 18px;
  font-style: italic
}

.headroom-wrapper, .top-bar, .top-bar-title {
  z-index: 1000;
}

.paragraph-text {
  font-family: 'Open Sans';
  font-size: 1.3rem;
  padding: 10px;
}

.icon-medium {
  font-size: 2rem;
}

.icon-small {
  font-size: 1.5rem;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.04);
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  border-radius: $global-radius;
}

.paper__fit {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  padding: 60px;
  width: 100%;
  min-height: 200px;
}

.huge-space {
  margin-bottom: 200px;
}

.tilted-background:before {
  content: '';
  position: absolute;
  top: -9px;
  left: -44px;
  right: -44px;
  height: 44px;
  background: #f4f5be;
  transform: rotate(-2deg);
}

.paragraph-header-text {
  margin: 0;
  font-size: 29px;
  line-height: 1.35;
  color: #333c4e;
  font-weight: 300;
}

.description-text {
  font-family: 'Open Sans';
  text-align: justify;
  h4 {
    margin: 0;
    font-size: 29px;
    line-height: 1.35;
    color: #333c4e;
    font-weight: 300;
  }

  p {
    margin: 0;
    font-size: 23px;
    color: #7e8890;
    font-weight: 300;
  }
}

.description-text__full-width {

}

hr.section-divider {
  margin-top: 52px;
  margin-bottom: 42px;
  display: block;
  border: 0;
  text-align: center;
}


hr.section-divider:before {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  letter-spacing: .6em;
}

hr.section-divider:before {
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0,0,0,.6);
  position: relative;
  top: -30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 992px) {
    width: 1000px;
  }
}

.hide-for-xs-only {
  @media screen and (max-width: 550px) {
    display: none;
  }
}
