@import "../../node_modules/foundation-sites/scss/foundation";
@import "../../node_modules/motion-ui/src/motion-ui";

@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;
@include motion-ui-transitions;
@include motion-ui-animations;

.section-header h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans';
}
