.footer-link-item__wrapper {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #2e2e2e;
  border-radius: 4px;
  box-shadow: 0 3px 0 #212121;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
