.footer-link-item__wrapper {
  position: relative;
  width: 62px;
  height: 62px;
  background-color: rgb(0, 216, 255);
  border-radius: 4px;
  box-shadow: 0 3px 0 rgb(93, 61, 112);
  @media screen and (max-width: 600px) {
    width: 52px;
    height: 52px;
  }
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.footer-link-item__list-item {
  margin: 10px;
  font-size: 2rem;
  text-align: center;
  line-height: 52px;
  @media screen and (max-width: 600px) {
    line-height: 42px;
  }
}

.footer-link-item__list-item:hover {
  transform: rotate(-10deg);
}

.tooltip__tilted {
  transform: rotate(-10deg) !important;
}

.icon-social {
  color: rgb(93, 61, 112) !important;
}

.icon-social:hover {
  color: white !important;
}
