.footer-links {
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-inline {
  display: flex;
  flex-direction: row;
}

.up-on-small {
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}
