.tags-list {
  display: flex;
}

.tag-list {
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tag-item {
  margin-left: 10px;
  margin-top: 10px;
}

.m-r__5 {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.tag-list__text {
  margin: 0;
}
