.team-section {
  background-color: #4b4f51;
}

.team-member-item {
  display: inline-block;
  height: 240px;
  margin-bottom: 25px;
  width: 360px;
}

.team-member-item__photo {
  overflow: hidden;
  float: left;
}

.team-member-item__image {
  width: 180px;
  height: 180px;
  transition: all .6s ease-in-out;
}

.team-member-item__image:hover {
  transform: scale(1.3);
}

.team-member__twitter-handle {
  font-size: 1.3rem;
  color: white !important;
  text-shadow: 2px 2px #ff0000;
  padding: 10px;
}

.team-member-item__info {
  background-color: rgba(0, 216, 255, 1.0);
  color: #FFF;
  float: left;
  width: 180px;
  height: 180px;
  padding: 45px 5px 0;
  line-height: 1.2;
}

.team-member-item__name {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-right: 50px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: red;
}

.team-member-item__bio {
  line-height: 18px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: justify;
  color: #fff;
  font-size: 15px;
}

.icon-github {
  background-color: #333;
  font-size: 1.5rem;
  color: white;
  margin-right: 5px;
  transition: all .2s ease-in-out;
}

.icon-github:hover {
  transform: scale(1.2);
}

.icon-website {
  background-color: #333;
  font-size: 1.5rem;
  color: white;
  transition: all .2s ease-in-out;
}

.icon-website:hover {
  transform: scale(1.2);
}

.team-member__social-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
