.team-section {
  background-color: #4b4f51;
  padding-top: 80px;
  padding-bottom: 80px;
}

.team-member-item {
  display: inline-block;
  height: 240px;
  margin-bottom: 25px;
  width: 360px;
}

.team-member-item__photo {
  overflow: hidden;
  float: left;
}

.team-member-item__image {
  width: 180px;
  height: 180px;
  transition: all .6s ease-in-out;
}

.team-member-item__image:hover {
  transform: scale(1.2);
}

.team-member__twitter-handle {
  font-size: 1.2rem !important;
  color: white !important;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.team-member__twitter-handle:hover {
  transform: scale(1.2);
}

.team-member__twitter-handle p:hover {
  border-bottom: 2px solid orange;
}

.team-member__flex-wrapper {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px
}

.team-member-item__wrapper {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member-item__info {
  background-color: rgba(0, 216, 255, 1.0);
  color: #FFF;
  float: left;
  width: 180px;
  height: 180px;
  padding: 45px 5px 0;
  line-height: 1.2;
}

.team-member-item__name {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-right: 50px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  color: rgb(231, 105, 51);
}

.team-member-item__bio {
  line-height: 18px;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: justify !important;
  color: #fff;
  font-size: 15px !important;
}

.icon-github {
  background-color: #333;
  font-size: 1.5rem;
  color: white;
  margin-right: 5px;
  transition: all .2s ease-in-out;
}

.icon-github:hover {
  transform: scale(1.2);
}

.icon-website {
  background-color: #333;
  font-size: 1.5rem;
  color: white;
  transition: all .2s ease-in-out;
}

.icon-website:hover {
  transform: scale(1.2);
}

.team-member__social-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button__centered-margin {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px;
  margin-bottom: 30px;
}

.team-section-headline {
  padding-top: 80px;
}

.services__button-wrapper__with-text {
  display: flex;
  flex-direction: column;
}
