.services-section-one {
  min-height: 50vh;
}


.services-section-one p {
  text-align: center;
  font-size: 26px;
  margin: 0 0 10px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.services--paragraph-wrapper {
  margin: 40px;
}

.services__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}
