.services-section-one {
  min-height: 50vh;
}

.services-page-wrapper p {
  text-align: center;
  font-size: 26px;
  margin: 0 0 10px;
  font-family: 'Open Sans';
  font-weight: 300;
}
.services-section-one p {
  text-align: center;
  font-size: 26px;
  margin: 0 0 10px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.services--paragraph-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    margin: 0px;
  }
}

.services__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
