.avatar-image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
}

.avatar-image__small {
  width: 60px;
  height: 60px;
}

.avatar {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}
