.profile__image img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  @media screen and (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 600px) {
    width: 100px;
    height: 100px;
  }
}

.profile__image {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reference__text {
  border: 0;
  padding: 0 0 25px;
  margin: 0;
  font-size: 32px;
  line-height: 1.25;
  color: #000;
  font-family: 'Open Sans';
  text-align: justify;
  @media screen and (max-width: 768px) {
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    font-size: 19px;
    text-align: center;
    font-weight: 300;
  }
}

.reference__company {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  color: #958f8f;
  text-decoration: underline;
  font-weight: 400;
  margin-bottom: 30px;
}

.img-circle {
  border-radius: 50% !important;
}

.reference-signature {
  display: block;
  font-size: 29px;
  text-transform: uppercase;
  color: #958f8f;
  text-align: justify;
  font-family: 'Open Sans';
  font-weight: 600;
  margin-top: 20px;
  @media screen and (max-width: 768px) {
    font-weight: 500;
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    font-size: 19px;
    font-weight: 300;
  }
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.slick-list:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 45px;
  width: 88px;
  height: 75px;
  background: url(./quote2x.png) 0 0 no-repeat;
  background-size: 100% 100%;
}


.slick-left-arrow, .slick-right-arrow {
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 105px;
  height: 105px;
  line-height: 105px;
  font-size: 16px;
  text-align: center;
  color: #111;
  z-index: 6;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.slick-right-arrow {
  left: -50px;
}

.icon-white {
  color: white;
  font-size: 20px;
  z-index: 2000;
}

.slick-left-arrow {
  right: -50px;
}

.slick-left-arrow:before, .slick-right-arrow:before {
    content: "";
    display: block;
    width: 66%;
    height: 66%;
    position: absolute;
    top: 17px;
    left: 0;
    background: rgb(23, 21, 24);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.reference-section:hover .slick-left-arrow {
  opacity: 1;
  right: -80px;
}

.reference-section:hover .slick-right-arrow {
  opacity: 1;
  left: -80px;
}

.panel-title h4 {
  font-family: 'Raleway';
  color: #b26fcc;
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-weight: 400;
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    font-size: 19px;
    font-weight: 300;
    text-align: left;
  }
}


.resume-year {
  color: rgb(242, 242, 242);
  margin-top: auto;
  margin-bottom: auto;
}
.panel-body p {
  font-size: 22px;
  color: #555555;
  text-align: justify;
  font-family: 'Open Sans';
  font-weight: 400;
  @media screen and (max-width: 768px) {
    font-weight: 400;
    font-size: 22px;
  }
  @media screen and (max-width: 600px) {
    font-size: 19px;
    font-weight: 300;
    text-align: left;
  }
}
