* {
	box-sizing: border-box;
}


/* 1 - 4, beautiful flex grid 3 x 4 */
// .container {
// 	display: flex;
// 	min-height: 100vh;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// }

.box {
	color: white;
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

body {
	background-image: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
};

body:before {
	//background-image: url("../../images/tswirls.png"), linear-gradient(20deg, #eafa52 0%, #ff77fd 100%);
	background-image: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;

}

.Aligner {
	display: flex;
}



.left-nav {
	width: 300px;
	border-top: 3px solid #ecd018;
	position: fixed;
	left: 0;
	top: 0;
	overflow: scroll;
	z-index: 99;
	background-color: #252527;
	height: 100vh;
}

.flex-container {
	display: flex;
	flex-direction: column;
	z-index: 100;
	min-height: 100vh;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.box {
	height: 100px;
}

.box-1 {
	background-color: rgb(219, 195, 35);
}

.box-2 {
	border: 1px solid goldenrod;
	flex:1;
}

.box-3 {
	background-color: rgb(219, 195, 35);
}

.content {
	margin-left: 0;
}



.about {
	padding: 3rem 0;
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 1200px) {
		padding: 20px;
	}
}

.about .half {
	flex-basis: 50%;
}


#content-highlight {
	background: rgba(0,0,0,0.2);
	max-width: 1200px;
	border-radius: 4px;
	padding: 50px;

	@media (max-width: 1200px) {
		padding: 20px;
	}
}


html {
	font-size: 10px;
	font-family: 'Bangers';
}
.post {
	max-width: 30rem;
	margin: 2rem;
	float: left;
}
a {
	font-size: 4rem;
	text-decoration: none;
	color: #1e1f23;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
}
.fun-hover {
	background-image: -webkit-linear-gradient(left, #25b0a9 50%, #fee603 50%);
	background-image: linear-gradient(to right, #25b0a9 50%, #fee603 50%);
	background-position: 0;
	background-size: 200%;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.fun-hover:hover {
	background-position: -100%;
}
