.intro {
  background: linear-gradient(145deg, #0363b3 0, #ce06f7 80%, #fa2562 100%);
  height: calc(100vh - 50px);
  transition: background linear .5s;
  width: 100%;
  z-index: 99;
  text-align: center;
}

.intro-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  padding: 10px;
}

.intro-header__content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-header__headline {
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  font-size: 2rem;
  flex: 1;
  border: 1px solid goldenrod;
}

.intro-header__subheadline {
  border: 1px solid goldenrod;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.3rem;
  color: white;
}

.intro-header__chevron {
  margin-bottom: 1rem;
  border: 1px solid goldenrod;
}

.intro-header__chevron-down {
  margin-top: 100px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  align-self: flex-end;
}
