@import "../../../../node_modules/animatewithsass/animate.scss";

.logo-wrap {
  padding: 20px;
}

.logo-text-wrap {
  margin: 8px;
  @media screen and (max-width: 638px) {
    width: 40px;
    height:40px;
    margin-right: auto;
    margin-left: auto;
  }
}

.logo-text {
  color: #ECD018;
  font-family: 'Audiowide';
  -webkit-box-shadow: 0px 3px 36px 10px rgba(181,181,18,1);
  -moz-box-shadow: 0px 3px 36px 10px rgba(181,181,18,1);
  box-shadow: 0px 3px 36px 10px rgba(181,181,18,1);
}

.intro {
  // background: linear-gradient(160deg, #34b6d9, #3464d9);
  background-image: url("../../../images/tswirls.png"), linear-gradient(160deg, #34b6d9, #3464d9);
  max-height: 100vh;
  transition: background linear .5s;
  width: 100%;
  z-index: 99;
  text-align: center;
  @media screen and (max-height: 750px) {
    min-height: 750px;
  }
}

.intro-image {
  max-height: 100px;
  max-width: 100px;
}

.intro-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.intro-header__content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-header__headline {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  font-size: 3.5rem;
  flex: 1;
  @media screen and (max-width: 700px) {
    font-size: 2.7rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
  @include fadeInUp(
    $duration: 0.5s,
    $count: 1,
    $delay: 0.2s,
    $function: ease,
    $fill: both
  )
}

.intro-header__subheadline {
  margin:20px;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  @media screen and (max-width: 700px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.2rem;
  }
  @include fadeInUp(
    $duration: 0.5s,
    $count: 1,
    $delay: 0.7s,
    $function: ease,
    $fill: both
  )
}

.intro-header__chevron {
  margin-bottom: 1rem;
  @include fadeInDown(
    $duration: 0.5s,
    $count: 1,
    $delay: 1.2s,
    $function: ease,
    $fill: both
  )
}

.intro-header__chevron-down {
  @media screen and (max-width: 700px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
  margin-top: 100px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  align-self: flex-end;
}
