.tag-label {
  margin-right: 10px;
}

.tag-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.review-button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
