.tag-label {
  margin: 5px;
}

.tag-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review-button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-label {
  background: rgba(0, 216, 255, .9);
}

.links-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.button__github {
  margin: 10px;
}

.button__link {
  margin-right: 10px;
  @media screen and (max-width: 500px) {
    margin-right: 0px !important;
  }
}

.quotation-icon {
  font-size: 3rem;
  margin-left: 10px;
}

.full-width-container {
  position: relative;
  min-height: 600px;
}

.full-width  {
  max-width: 100% !important;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  margin: 0 auto;
  @media only screen and (min-width: 1024px) {
    margin: 0 auto;
  }
}

.full-width__margin-bottom {
  margin: 200px;
}
