.tag-label {
  margin-right: 10px;
}

.tag-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review-button-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-label {
  background: rgba(0, 216, 255, .9);
}

.links-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.button__github {
  margin: 10px;
}

.button__link {
  margin-right: 10px;
}

.quotation-icon {
  font-size: 3rem;
  margin-left: 10px;
}
