
.navbar.active {
  height: 7rem;
  opacity: 1;
  filter: alpha(opacity=100);
  animation: slideDown .4s cubic-bezier(.15, .9, .25, 1) forwards
}

.navbar.inactive {
  height: 7rem;
 animation: slideUp .8s cubic-bezier(.15, .9, .25, 1) forwards
}


.fixed {
  height: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  z-index: 999;
  position: fixed;
  overflow: hidden;
  background: white;
  top: 0;
  left: 0
}

@keyframes slideDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, -10rem);
        -ms-transform: translate(0, -10rem);
        -o-transform: translate(0, -10rem);
        transform: translate(0, -10rem)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, -10rem);
        -ms-transform: translate(0, -10rem);
        -o-transform: translate(0, -10rem);
        transform: translate(0, -10rem)
    }
}
