.navbar__center-on-small {
  min-height: 70px;
  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.navbar__right {
  @media screen and (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.menu > li > a {
  @media screen and (max-width: 500px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 600px) {
  font-size: 1.0rem;
  }
  font-size: 1.2rem;
}

.menu > li > a.active {
  border-bottom: 2px solid #990d98;
}

.menu__centered {
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.button-contact {
  @media screen and (max-width: 500px) {
    font-size: 0.6rem !important;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.9rem !important;
  }
  @media screen and (max-width: 700px) {
    font-size: 1.0rem !important;
  }
  font-size: 1.2rem !important;
}

.navbar__right {
  height: 100%;
  display: flex;
  align-items: center;
}
