.filter-label {
  text-align: center;
}

.filter-label__text {
  font-weight: 100;
  font-family: 'Open Sans';
  text-decoration: underline;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
