.footer__wrapper {
  // position: fixed;
  // z-index: 1;
  // bottom: 0;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.footer-wrapper .active {
  display: block;
}

.footer-copyright-text {

}
