.about-section {
  width: 100%;
  margin-bottom: 100px;
}

.about-section__header {
  margin-top: 60px;
}

.about-section__paragraph-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.about-section__wrapper {
  margin-top: 50px;
}

.about-section__paragraph {
  font-family: 'Lato';
}

.title {
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  background-color: #2e2e2e;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Raleway';
  font-size: 18px;
}

.resume-button-row {
  margin: 100px;
}

.description-paragraph-wrapper {
  margin-top: 34px;
}

.me-image-wrapper {
  margin-top: 34px;
}

.show-for-large-up {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}


.text__fit-width {
  max-width: 374px;
}
